
<div class="box-edit-main" ng-class="{'ui-none':getCurrentScenario() != null}">

    <h2>Describe your feature in few words:</h2>

    <div class="grid">
        <div class="row">
            <div class="span1">Title:</div>
            <div class="span5">
                <div class="input-control text">
                    <input type="text" placeholder="Name of this feature" ng-model="feature.title"  />
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="span1">In order</div>
            <div class="span5">
                <div class="input-control text">
                    <input type="text" placeholder="Objective of your feature" ng-model="feature.inorder"  />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span1">As</div>
            <div class="span5">
                <div class="input-control text">
                    <input type="text" placeholder="Actor this feature" ng-model="feature.as"  />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span1">I should</div>
            <div class="span5">
                <div class="input-control text">
                    <input type="text" placeholder="Business benefice of your feature." ng-model="feature.should"  />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <a  ng-click="showNotes=!showNotes">Details</a>
        <div id="box-notes" ng-class="{'ui-none':feature.notes.length == 0 || !showNotes}">
            <textarea rows="6" class="field  span6" placeholder="..." id="notes" name="notes" ng-model="feature.notes"></textarea>
            <p class="help-block">Fill notes ONLY if it's really essential to understanding.</p>
        </div>
    </div>



</div>