<div ui-scrollfix="+650">

    <div class="feature-infos-full">

        <div class="feature-title-container">
            <div>
                <input class="reset feature-main-title" type="text" ng-model="feature.title" placeholder="MyFeature" />
            </div>

            <div class="sub-feature-title">
                <div  >
                    <span class="sub-feature-helper"
                          ui-jq="tooltip" title="Objective of your feature."
                          >In order</span>
                    <span class="sub-feature-ipt">
                        <input class="reset" type="text" ng-model="feature.inorder" placeholder="..."  ui-jq="tooltip" title="Objective of your feature." />
                    </span>
                </div>
                <div>
                    <span class="sub-feature-helper"
                          ui-jq="tooltip" title="Actor of your feature."
                          >As</span>
                    <span class="sub-feature-ipt">
                        <input class="reset" type="text" ng-model="feature.as" placeholder="..." ui-jq="tooltip" title="Business benefice of your feature." />
                    </span>
                </div>
                <div>
                    <span class="sub-feature-helper"
                          ui-jq="tooltip" title="Business benefice of your feature."
                          >I should</span>
                    <span class="sub-feature-ipt">
                        <input class="reset" type="text" ng-model="feature.should" placeholder="..."  ui-jq="tooltip" title="Business benefice of your feature." />
                    </span>
                </div>
            </div>

            <a  ng-click="showNotes=!showNotes">Details</a>
            <fieldset id="box-notes" ui-hide="feature.notes.length == 0 || !showNotes">
                    <textarea rows="6" class="field  span6" placeholder="..." id="notes" name="notes" ng-model="feature.notes"></textarea>
                    <p class="help-block">Fill notes ONLY if it's really essential to understanding.</p>
            </fieldset>
        </div>

        

        <div>
            <p>
                If you think your feature needs to be described in more detail, you can add scenarios now.
            </p>
        </div>
    </div>
</div>