


<div ng-repeat="scenario in feature.scenarios" id="scenario-{{ $index }}" ng-class="{'ui-none':getCurrentScenario() != scenario}">
    <h2>Add scenario in your feature:</h2>



    <div class="grid container-scenario">

        <div class="row">
            <div class="span1">Title</div>
            <div class="span5">
                <div class="input-control text">
                    <input type="text" placeholder="Objective of your feature" ng-model="scenario.title"  />
                </div>
            </div>
        </div>


        <div class="row">
            <blockquote>
                A scenario contains steps. What kind of step do you want to add in the scenario "{{scenario.title}}" ?
            </blockquote>
            <br />
            <p>
                <button class="shortcut" ng-click="addStep( scenario, {type:'Given', text:'...'} );" >
                    <span class="icon">
                        <i class="icon-checkbox"></i>
                    </span>
                    <span class="label">
                        Pre-requisite
                    </span>
                    <span class="badge">{{getNbStepsOf(scenario, 'Given')}}</span>
                </button>

                <button class="shortcut" ng-click="addStep( scenario, {type:'When', text:'...'} );">
                    <span class="icon">
                        <i class="icon-pointer"></i>
                    </span>
                    <span class="label">
                        Event
                    </span>
                    <span class="badge">{{getNbStepsOf(scenario, 'When')}}</span>
                </button>

                <button class="shortcut" ng-click="addStep( scenario, {type:'Then', text:'...'} );">
                    <span class="icon">
                        <i class="icon-enter-2"></i>
                    </span>
                    <span class="label">
                        Expected result
                    </span>
                    <span class="badge">{{getNbStepsOf(scenario, 'Then')}}</span>
                </button>
            </p>
        </div>





        <div ui-sortable="{axis: 'y', handle:'.step-type'}">
            <div class="scenario-state step row" ng-repeat="step in scenario.steps">


                <div class="span1 step-type">{{step.type}}</div>
                <div class="span5">
                    <div class="input-control text">
                        <input type="text" placeholder="..." ng-model="step.text"  />
                    </div>
                </div>
                <span class="step-actions">
<!--                    <i class="icon cursor icon-remove" ng-click="removeStep(scenario, $index)" title="Remove this step"  ></i>-->
                    <i class="icon cursor icon-grid" title="Mulilines step" ng-click="addOutline(step)" ></i>
                </span>

                <div class="step-outline ui-none row" ng-class="{'ui-show':step.outline != null}" >
                    <div class="span1">&nbsp;</div>
                    <table class="table condensed bordered striped span4">
                        <tbody>
                            <tr>
                                <td class="act"></td>
                                <td class="act" ng-repeat="cell in step.outline.rows[0]">
                                    <i
                                        ng-click="removeOutlineCol(step.outline, $index);"
                                        class="cursor def-hide-row animate icon icon-remove"></i>
                                </td>
                            </tr>
                            <tr ng-repeat="row in step.outline.rows" class="">
                                <td class="act"><i
                                        ng-click="removeOutlineRow(step.outline, row);"
                                        class="cursor def-hide-row animate icon icon-remove"></i></td>

                                <td ng-repeat="cell in row">
                                    <input type="text" ng-model="cell" class="span1" />
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="act toolbar span5">
                        <button class="" ng-click="addOutlineRow(step.outline)"><i class="icon-plus"></i> Row</button>
                        <button class="" ng-click="addOutlineCol(step.outline)"><i class="icon-plus"></i> Col</button>
                    </div>
                </div>


            </div>
        </div>


        <blockquote class="ui-none" ng-class="{'ui-show': searchVarsThatAreNotExamples(scenario).length > 0}">
            You use <strong>{{searchVarsThatAreNotExamples(scenario).length}}</strong> variables (identified by double quotes).
            Do you want to transform them into examples ? <a ng-click="transformVarIntoExample(scenario)">yes</a> / <a href="#">no</a>
        </blockquote>
    </div>


    <div class="scenario-examples ui-none" ng-class="{'ui-show': searchVars(scenario).length > 0}">
        <div class="def-hide-handler">
            <h3>Examples:</h3>
            <table class="table condensed bordered striped">
                <thead>
                    <tr>
                        <th class="th-act"></th>
                        <th ng-repeat="title in searchVars(scenario)">{{title}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in searchValues(scenario.examples)" class="def-hide-row-handler" ng-class="{'hide':$first}">

                        <td><i
                                ng-click="removeExampleRow(scenario, row);"
                                class="cursor def-hide-row animate icon icon-remove"></i></td>
                        <td ng-repeat="cell in row">
                            <input type="text" ng-model="cell" class="span1" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="act toolbar">
                <button class="" ng-click="addExampleRow(scenario)"><i class="icon-plus"></i></button>
            </div>
        </div>
    </div>