<div  ng-controller="FeatureDetailController" class="container-editing">



    <div class="page snapped">
        <div ng-include="'app/views/partials/feature-detail/preview-current-feature.html'">loading</div>
    </div>

    <div class="page fill">
        <div class=" main-panel">

            <div class="page-region">
                <div class="page-region-content">

                    <div class="feature-infos-container animate" >
                        <div ng-include="'app/views/partials/feature-detail/main-infos.html'">loading</div>
                    </div>

                    <div class="scenario-container">
                        <div ng-include="'app/views/partials/feature-detail/scenarios.html'">loading</div>
                    </div>

                </div>
            </div>

        </div>
    </div>




</div>

<!-- preview -->
<!--<div ng-include="'app/views/partials/feature-detail/preview-raw.html'">loading</div>-->
