<div class="row" ng-controller="FeatureDetailController">
    <div class="span4">
        <h2>Current feature</h2>
        <div ng-include="'app/views/partials/preview-current-feature.html'">loading</div>
        <h2>All features</h2>
        <div ng-include="'app/views/partials/preview-features.html'">loading</div>
    </div>


    <div class="span8" >


        <!-- Infos of Feature -->
        <div class="feature-infos-container" ui-scrollfix="650">

            <div class="well feature-infos-preview">
                <strong>Feature: {{feature.title}}</strong>:
                <div class="feature-infos-preview-els">
                    In order {{feature.inorder}}
                    <br />As {{feature.as}}
                    <br />I should {{feature.should}}
                </div>
            </div>

            <div class="feature-infos-full">
                <div class="box-act">
                    <a data-callback-enter="addScenario" data-callback-out="addScenario" class="btn btn-scenario-add btn-scenario-edit">New scenario</a>
                </div>

                <div class="hero-unit">
                    <h1>In two words</h1>
                    <p>Describe your feature here in a few words</p>
                    <div class="form-horizontal">

                        <fieldset>
                            <legend>In brief</legend>
                            <div class="control-group">
                                <label class="control-label" for="title">Title</label>
                                <div class="controls">
                                    <input class="input-xlarg" placeholder="..." id="title" name="title" ng-model="feature.title" />
                                    <p class="help-block">Title of your feature</p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inorder">In order</label>
                                <div class="controls">
                                    <input class="input-xlarg" placeholder="..." id="inorder" name="inorder"  ng-model="feature.inorder" />
                                    <p class="help-block">Objective of your feature</p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="as">As</label>
                                <div class="controls">
                                    <input class="input-xlarg" placeholder="..." id="as" name="as"  ng-model="feature.as" />
                                    <p class="help-block">Actor of your feature</p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="should">I should</label>
                                <div class="controls">
                                    <input class="input-xlarg" placeholder=" ..." id="should" name="should"  ng-model="feature.should" />
                                    <p class="help-block">Benefice of your feature</p>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset id="box-notes">
                            <legend>Notes</legend>
                            <div class="control-group">
                                <textarea rows="6" class="field  span6" placeholder="..." id="notes" name="notes" ng-model="feature.notes"></textarea>
                                <p class="help-block">Fill notes ONLY if it's really essential to understanding.</p>
                            </div>
                        </fieldset>
                    </div>
                </div>


                <div>
                    <p>
                        If you think your feature needs to be described in more detail, you can add scenarios.
                    </p>

                    <div class="box-act">
                        <a data-callback-enter="addScenario" data-callback-out="addScenario" class="btn btn-scenario-add btn-scenario-edit">New scenario</a>
                        <a class="btn btn-primary btn-save">I've finished</a>
                    </div>
                </div>
            </div>

        </div>


        <div class="scenario-container">
        </div>

        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
        <p>dsfsqdf</p>
    </div>
</div>

</div>
