/* ----- common ----- */
.state {
    margin-bottom:2px;
}
.state-success {
    background-color:#DFF0D8;
}
.state-failure {
    background-color:#F2DEDE;
}
.state-pending {
    background-color:#FCF8E3;
}
.cursor {
    cursor:pointer;
}
.drag-handle {
    cursor:move;
}
input {
    height:auto;
}
input.reset, input.rest[type="text"] {
    -webkit-box-shadow: 0px ;
    box-shadow: none;
    display:inline-block;
    background:#FFF;
    text-align:left;
    border:none;
    margin:0;
    height:1em;
    padding:0;
    -webkit-box-shadow: 0px !important;
    box-shadow: none  !important;
    display:inline-block  !important;
    background:#FFF  !important;
    text-align:left  !important;
    border:none  !important;
    margin:0  !important;
    height:1em !important;
}
.ui-hide {
    display:none;
}
.label, .badge {
    vertical-align:middle;
}
.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.def-hide,
.def-hide-row {
    -moz-opacity: 0.3;
    opacity: 0.3;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=30);
}
.def-hide-handler:hover .def-hide,
.def-hide-row-handler:hover .def-hide-row {
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}
.th-act {
    width:20px;
}




/* ---- Edit a feature ----- */
/* ------------------------- */
.feature-title-container {
    margin:50px 0;
}
input.feature-main-title {
    font-size: 36px;
    width:100%;
}
.feature-title-container .sub-feature-title,
.feature-title-container .sub-feature-title input  {
    color: #999999;
    font-size: 18px;
    font-weight: 400;
}
.feature-title-container .sub-feature-title input {
    margin-top:2px;
    width:400px;
}




.feature-prev-title,.scenario-prev-title{
    color:#333;
}
.feature-prev-collapse{
    cursor:pointer;
}
.feature-prev-details {
    padding-left:40px;
}
.scenario-prev-add {
    margin-left:20px;
}



/* ---- Ergnomie du menu latéral ----- */
.main-panel {
    float:right;
}
.lateral-preview {
    position:fixed;
    top:50px;
}
.lateral-preview.ui-scrollfix {
    top:0;
}
.lateral-preview .feature-infos-preview {
    top:-24px;
    height:0;
    overflow: hidden;
    min-height: 0;
    max-height: 0;
    padding: 0 18px;
    -moz-opacity: 0.1;
    opacity: 0.1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=10);
}
.lateral-preview.ui-scrollfix .feature-infos-preview {
    height:auto;
    max-height:inherit;
    overflow: auto;
    padding-top: 24px ;
    padding-bottom: 24px ;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}
.lateral-preview.ui-scrollfix .box-list-features{
    -moz-opacity: 0.1;
    opacity: 0.1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=10);
}
.lateral-preview.ui-scrollfix .box-list-features:hover {
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}





.feature-infos-container .ui-scrollfix {
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}
.feature-infos-container .ui-scrollfix .feature-infos-full {
    -moz-opacity: 0.30;
    opacity: 0.30;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=3);
}

.scenario-container {
    -moz-opacity: 0.1;
    opacity: 0.1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=10);
}
.scenario-container:hover,.scenario-container.ui-scrollfix {
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}


/* ---- Edit One scenario ---- */
.box-act {
    padding:5px 0;
    text-align:right;
}
.scenario-edit {
    padding:10px;
    background:#FFF;
}
.step-prev {
    float:left;
}


.scenario-edit-actions {
    padding:0 0 10px 40px;
}
.step-type {
    font-weight:bold;
}
.step-prev-actions {
    -moz-opacity: 0.3;
    opacity: 0.3;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=30);
}
.edit-scenario-step li:hover .step-prev-actions {
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}
.edit-scenario-step li:hover {
    background:#FFF;
}
/* ----- examples ----- */
.scenario-examples .table {
    font-size:0.9em;
}
.scenario-examples{
    padding-left:40px;;
}