/* ---- Edit a feature ----- */
/* ------------------------- */
.feature-prev-title,.scenario-prev-title{
    color:#333;
}
.feature-prev-collapse{
    cursor:pointer;
}
.feature-prev-details {
    padding-left:40px;
}
.scenario-prev-add {
    margin-left:20px;
}
.features-prev-container.ui-scrollfix {
    position:fixed;
    top:0px;
    width:300px;
}



.ui-hide {
    display:none;
}
.feature-infos-container .ui-scrollfix {
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}
.feature-infos-container .ui-scrollfix .feature-infos-full {
    -moz-opacity: 0.30;
    opacity: 0.30;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=3);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* ---- Edit One scenario ---- */
.box-act {
    padding:5px 0;
    text-align:right;
}
.scenario-edit {
    margin-top:10px;
}
.step-prev {
    float:left;
}
.def-hide {
    -moz-opacity: 0.3;
    opacity: 0.3;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=30);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.scenario-edit-actions {
    padding:0 0 10px 40px;
}
.scenario-edit:hover .def-hide {
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}

.step-type {
    font-weight:bold;
}
.step-prev-actions {
    -moz-opacity: 0.3;
    opacity: 0.3;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=30);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.edit-scenario-step li:hover .step-prev-actions {
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}
.edit-scenario-step li:hover {
    background:#FFF;
}
/* ----- examples ----- */
.scenario-examples .table {
    font-size:0.9em;
}
.scenario-examples{
    padding-left:40px;;
}